html {
  scroll-behavior: smooth;
}

.banner-topic {
  background-image: url(/assets/topic/bg-topic.png);
  background-size: cover;
  width: 100%;
  height: 235px;
}

.title-banner-topic {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.title-school {
  color: white;
  font-size: 43px;
  font-weight: bold;
}

.review-topic {
  margin-top: 17px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
<<<<<<< HEAD
  color: #ffffff;
  border-radius: 50px;
  align-items: center;
  padding: 6px 17px 6px 17px;
  background: #5cb85c;
=======
  color: #013248;
  border-radius: 50px;
  align-items: center;
  padding: 6px 17px 6px 17px;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
}

.review-topic > .MuiSvgIcon-root {
  margin-right: 10px;
}

.review-topic:hover {
  text-decoration: none;
<<<<<<< HEAD
  color: #1e221d;
  transition: 0.3s;
=======
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
}

.wirte {
  width: 180px;
  align-items: center;
<<<<<<< HEAD
=======
  background: #fff;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
}

.read {
  width: 305px;
  align-items: center;
<<<<<<< HEAD
=======
  background: #cadee8 0% 0% no-repeat padding-box;

>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
  margin-bottom: 32px;
}

/*-------main topic--------------*/

<<<<<<< HEAD
=======
.background-topic {
  /* background: transparent
    linear-gradient(30deg, #f6f6f6 0%, #f2f6f0 15%, #d7f5c8 100%); */
  border-top-right-radius: 60%;
}

>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
.main-topic {
  margin-top: 78px;
}

.rows {
  display: flex;
}

.items-topics {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  padding: 0;
  content: none;
}

.group-topic {
  padding: 25px 35px 25px 35px;
  border-radius: 5px;
<<<<<<< HEAD
  align-items: center;
  margin-bottom: 60px;
  height: auto;
  border-bottom: 0.8px solid rgba(49, 48, 48, 0.4);
}

.group-topic:hover {
  background: #f5fbf2;
  transition: all 0.2s;
=======
  background-color: rgba(218, 218, 218, 0.2);
  align-items: center;
  margin-bottom: 60px;
  height: auto;
}

.group-topic:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
}

.group-user {
  flex: 10;
  margin-right: 20%;
  color: #1e221d;
}

.group-user:hover {
  text-decoration: none;
  color: #1e221d;
}

.group-user > .MuiSvgIcon-root {
  width: 50px;
  height: 70px;
  margin-left: 10px;
  margin-right: 8px;
}

.infor-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.title-user {
  font-size: 16px;
  color: #5cb85c;
<<<<<<< HEAD
  font-weight: 500;
=======
  font-size: 16px;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
  display: block;
  margin: 0;
}

.date-topic {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
  margin-left: -16px;
}

.rating-topic {
  margin-right: 0;
  flex: 1;
  text-align: center;
}

<<<<<<< HEAD

.count-topic > svg {
  color: #5cb85c;
=======
.count-topic > svg {
  color: #035c84;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
  font-size: 15px;
  justify-content: center;
  text-align: center;
  margin-right: 2.5px;
}

.title-rating-topic {
  font-size: 12px;
<<<<<<< HEAD
  color: #5cb85c;
=======
  color: #013248;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
}

.infor-topic {
  margin-top: 10px;
}

.title-infor-topic {
  font-size: 18px;
  font-weight: 600;
  color: #013248;
  margin-bottom: 3px;
}

.content-infor-topic {
  font-weight: 300;
  color: rgb(109, 109, 109);
  margin-bottom: 15px;
  font-size: 1rem;
<<<<<<< HEAD
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
=======
  line-height: 1.3rem;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
}

.view-topic {
  margin: 0;
}

.viewMore-topic {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(165, 165, 165);
  vertical-align: middle;
  flex: 1;
}

.viewMore-topic:hover {
  text-decoration: none;
}

.content-categories-topic {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(99, 99, 99);
  vertical-align: middle;
  margin-left: 10px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 20px;
  padding: 1px 8px 3px 8px;
}

.content-categories-topic:hover {
  text-decoration: none;
<<<<<<< HEAD
  background-color: #5cb85c;
  transition: all 0.2s;
  color: #ffffff;
=======
  background-color: rgba(20, 24, 68, 0.3);
  transition: all 0.2s;
>>>>>>> b0be650b890265b614091a130ae7eb791b7edff6
}

.group-categories-topic {
  height: 370px;
  background: #f3f3f3;
  border-radius: 10px;
  padding-left: 21px;
  margin-left: 35px;
}

.title-categories-topic {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #1e221d;
  margin-top: 16px;
  margin-bottom: 0;
}

.category-topic {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
}

.content-category-topic {
  font-size: 0.7rem;
  font-weight: 500;
  color: #ffffff;
  background: #818a91;
  border: 1px solid #707070;
  border-radius: 18px;
  padding: 2px 5px 3px 5px;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: none;
}

.content-category-topic:hover {
  text-decoration: none;
  color: #084f70;
}
