.title-galery {
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gird-galery {
    justify-content: space-around;
}

.main-galery {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.item-galery {
    overflow: hidden;
    width: fit-content;
}

.content-img-galery {
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    width: 300px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.img-galery {
    width: auto;
    height: 250px;
}

