.group-input-post {
    width: 100%;
    height: auto;
}

.input-post {
    width: 100%;
    min-height: 100px;
    white-space: normal;
    word-break: break-all;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    outline: thin;
    border: 0.5px solid rgba(0,0,0,0.5);
}

.bg-btn-post {
    background: #E8E8E8 ;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: right;
}

.btn-post {
    align-items: center;
    margin-right: 40px;
    width: 115px;
    height: 40px;
    color: white;
    background: #005981 ;
    border-radius: 10px;
    margin-top: 3px;
    border: none;
}

.item-content-comment {
    margin-top: 65px;
}

.item-news-comment {
    text-align: justify;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    border: 0.2px solid rgba(0,0,0,0.2);
    margin: 0;
}

.like-comment {
    background: #E8E8E8 ;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: right;
    margin: 0;
    
}

.btn-like {
    width: 3rem;
    height: 3rem;
    margin-top: 3px;
    margin-right: 40px;
    outline: none;
    border: none;
}
.like-comment > .MuiSvgIcon-root {
    margin-right: 40px;
    align-items: center;
    width: 2.3rem;
    height: 2.3rem;
    margin-top: 3px;
    cursor: pointer;
}

/*---------footer comment------------*/

.footer-comment {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

.group-id-comment > li {
    list-style: none;
    text-align: center;
    margin-right: 5px;
}

.id-comment {
    padding: 5px 10px 7px 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: #5E6C72;
    text-align: center;
}

.id-comment:focus {
    color: white;
    background: #27363D ;
}

.id-comment:hover {
    text-decoration: none;
    color: white;
    background: #27363D ;
    transition: all 0.2s ease-in;
}
