.wrap-not-found {
  text-align: center;
  padding: 200px 0;
}
.img-notFound {
  width: 40%;
  height: auto;
  margin-left: 50px;
}
.text-not-found {
  font-weight: 700;
}
.content {
  font-size: medium;
}
