.title-major {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  width: 100%;
}

.table-major {
  margin-top: 10px;
  width: 100%;
}

.th-major {
  text-align: center;
  border: 2px solid #8e8e8e;
  padding: 10px 5px 10px 5px;
  background: #013248;
  color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.td-major {
  /* background: #ececec; */
  border: 2px solid #8e8e8e;
  padding: 5px 5px 5px 20px;
  font-size: 16px;
}

.btn-major {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 15px auto;
  width: 220px;
  height: 40px;
  border: none;
  background: #5d963f;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.btn-major:hover {
  background: rgb(90, 184, 97);
  transition: 0.3s;
}

.contact-major {
  text-align: center;
  margin-top: 50px;
}

.input-contact-major {
  width: 700px;
  height: 50px;
  position: relative;
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 10px;
}

.btn-submit-major {
  height: 35px;
  width: 120px;
  position: absolute;
  border: none;
  background: #5d963f;
  border-radius: 10px;
  margin-left: -125px;
  margin-top: 8px;
  align-items: center;
  color: white;
  font-weight: 550;
}
