#banner{
    background-image: url(images/banner_funny.png);
    height: 150px;
    margin-bottom: 80px;
    text-shadow: 10px 10px 25px #000000;
    filter: drop-shadow(0px -20px 16px rgb(0, 0, 0));
}
#banner h1{
    font-size: 60px;
}
#banner h3{
    font-size: 35px;
    font-weight: 650;
}

/* -------content------ */

.highlight-topic{
    box-shadow: 5px 5px 5px #1a262b4f;
    padding: 10px 20px;
    border-bottom: 1px solid #727272;
    margin-bottom: 50px;
    transition: all 0.25s;
}
.highlight-topic:hover{
    box-shadow: 15px 15px 30px #1A262B;
    transition: all 0.25s;
}

#img-logo{
    display: block;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
}
#img-logo a{
    display: block;
}

.highlight-topic a.university-name{
    display: block;
    color: #1A262B;
    font-size: 30px;
    font-weight: 700;
}
.highlight-topic span.address{
    color: #5E6C72;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

.highlight-topic span.count-rate, .highlight-topic span.count-comment{
color: #727272;
font-size: 14px;
}
.highlight-topic p.demo-content{
    font-size: 15px;
    color: #5e5e5e;
    margin-bottom: 5px;
}
.highlight-topic a.detail {
    display: inline-block;
    color: #1A262B;
    font-size: 14px;
    font-weight: 600;
}

.highlight-topic i.fa-bookmark{
    color: #1A262B;
    font-size: 25px;
    float: right;
}

/* -----------PhĂ¢n trang ---------- */
.page-link{
    color: #000000;
    font-weight: 500;
}

/* --------------------sidebar------------- */
#count-start{
    background-color: #e4e4e4;
    padding: 10px 0px;
    width: 80%;
    float: right;
}