.title-cooperation {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tabList-cooperation {
  display: flex;
  list-style: none;
  margin-left:-35px;
}

.tab-cooperation {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 3px solid rgba(241, 255, 233, 1);
}

.tab-cooperation:hover {
  cursor: pointer;
  border-bottom: 3px solid #5d963f;
  transition: 0.3s ease-in-out;
}

.table-cooperation {
  width: 100%;
}

.th-cooperation {
  border: 2px solid rgb(201, 199, 199);
  text-align: left;
  padding: 10px 15px 10px 15px;
  background: #013248;
  color: #ffffff;
}

.tbody-cooperation {
  margin-top: 10px;
}

.tbody-cooperation:last-child {
  border-bottom: 1px solid gray;
}

.td-coopreation {
  text-align: left;
  padding: 10px 15px 10px 15px;
  border: 2px solid white;
}

.td-coopreation:last-child {
  width: 35%;
}
