.view-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: absolute;
  margin: 150px 0px 0px 2%;
}

.view-intro >svg {
  font-size: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.logo-intro {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 10px;
}

.count-view {
  margin-top: 10xp;
  margin-bottom: 5px;
}
