.border-red {
  border: 2px solid red;
}
button,
form {
  background: none;
}
/* Css for header */
.background-color-header {
  background-color: #27363d;
  color: white;
}
.list-header {
  list-style-type: none;
}
.list-header li {
  display: inline;
}
.search {
  height: 50px;
  width: 60%;
  background-color: grey;
  color: white;
}
