html {
  scroll-behavior: smooth;
}

.banner-topic {
  background-image: url(/assets/topic/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
}

.title-banner-topic {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.title-school {
  color: white;
  font-size: 43px;
  font-weight: bold;
}

.review-topic {
  margin-top: 17px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50px;
  align-items: center;
  padding: 6px 17px 6px 17px;
  background: #5ca751;
}

.review-topic > .MuiSvgIcon-root {
  margin-right: 10px;
}

.review-topic:hover {
  text-decoration: none;
  color: #1e221d;
}

.wirte {
  width: 180px;
  align-items: center;
}

.read {
  width: 305px;
  align-items: center;
  margin-bottom: 32px;
}

/*-------main topic--------------*/

.background-topic {
  /* background: transparent
    linear-gradient(30deg, #f6f6f6 0%, #f2f6f0 15%, #d7f5c8 100%); */
  border-top-right-radius: 60%;
}

.main-topic {
  margin-top: 78px;
}

.rows {
  display: flex;
}

.items-topics {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  padding: 0;
  content: none;
}

.group-topic {
  padding: 25px 35px 25px 35px;
  border-radius: 5px;
  background-color: #ffffff;
  align-items: center;
  margin-bottom: 60px;
  height: auto;
}

.group-topic:hover {
  background: #f5fbf2;
  transition: all 0.3s;
}

.group-user {
  /* flex: 10; */
  /* margin-right: 20%; */
  color: #1e221d;
}

.group-user:hover {
  text-decoration: none;
  color: #1e221d;
}

.infor-user {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 10px;
}

.title-user {
  font-size: 16px;
  color: #5cb85c;
  font-weight: 450;
  display: block;
  margin: 0;
}

.date-topic {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
  /* margin-left: -16px; */
}

.rating-topic {
  /* text-align: center; */
  text-align: right;
}
.count-topic > svg {
  color: #53a63a;
  font-size: 15px;
  justify-content: center;
  /* text-align: center; */
  margin-right: 1.5px;
}

.title-rating-topic {
  font-size: 12px;
  color: #013248;
}

.infor-topic {
  margin-top: 5px;
}

.title-infor-topic {
  font-size: 18px;
  font-weight: 600;
  color: #013248;
  margin-bottom: 3px;
}

.content-infor-topic {
  font-weight: 300;
  color: rgb(109, 109, 109);
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.view-topic {
  padding-right: 10px;
}

.viewMore-topic {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(165, 165, 165);
}

.viewMore-topic:hover {
  text-decoration: none;
}

.content-categories-topic {
  font-size: 0.8rem;
  font-weight: 400;
  color: #53a63a;
  /* vertical-align: middle; */
  margin-left: 10px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 20px;
  padding: 1px 8px 3px 8px;
}

.content-categories-topic:hover {
  text-decoration: none;
  background-color: #53a63a;
  color: #ffffff;
  transition: all 0.3s;
}

.group-categories-topic {
  height: 370px;
  background: #f3f3f3;
  border-radius: 10px;
  padding-left: 21px;
  margin-left: 35px;
}

.title-categories-topic {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #1e221d;
  margin-top: 16px;
  margin-bottom: 0;
}

.category-topic {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
}

.content-category-topic {
  font-size: 0.7rem;
  font-weight: 500;
  color: #ffffff;
  background: #818a91;
  border: 1px solid #707070;
  border-radius: 18px;
  padding: 2px 5px 3px 5px;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: none;
}

.content-category-topic:hover {
  text-decoration: none;
  color: #084f70;
}
.ava-user {
  float: left;
}
.ava-user > .MuiSvgIcon-root {
  width: 50px;
  height: 70px;
  margin-left: 10px;
  margin-right: 8px;
}
.wrap-topic-tag {
  text-align: right;
}
