.btn-new-post {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn-new-post button.MuiButton-outlined {
  color: #5d963f;
  border: 1px solid rgba(93, 150, 63, 0.5);
}

.container-news-post {
  width: 60%;
  margin: auto;
}
.form-flex-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 0px;
}
.form-flex-container div {
  margin-top: 10px;
}
.hold-block-500 {
  height: 500px;
  margin-top: 50px;
}
