.banner-comment {
  background-color: #1a262b;
  width: 100%;
  height: 200px;
}

.title-banner-comment {
  color: white;
  padding-top: 26px;
  font-size: 40px;
}

.group-user-comment {
  margin-top: 27px;
  align-items: center;
  color: rgb(216, 216, 215);
  flex: 1;
}

.group-user-comment:hover {
  text-decoration: none;
  color: #d4d4d4;
}

.group-user-comment > .MuiSvgIcon-root {
  width: 50px;
  height: 70px;
  margin-left: 10px;
  margin-right: 8px;
}

.infor-user-comment {
  align-items: center;
}

.title-user-comment {
  padding-top: 10px;
  margin: 0;
  color: #ffffff;
  display: block;
  font-weight: 500 !important;
  font-size: 14px;
}

.date-topic-comment {
  font-size: 12px;
}

.group-like-comment {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-right: 30px;
  justify-content: flex-end;
  text-align: right;
  cursor: pointer;
}

.group-like-comment > svg {
  font-size: 35px;
}
/**-------news comment*/

.news-comment {
  margin-top: 45px;
  box-shadow: 0px 2px rgba(61, 61, 60, 0.5);
  margin-bottom: 20px;
}

.content-comment {
  padding: 10px 10px 20px 10px;
  text-align: justify;
  font-size: 16px;
}
