@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.SignIn {
    width: 100%;
    height: 100%;
    background-image: url(/assets/signIn/bglogin.png) ;
     background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* .title-SignIn {
    width: 40vw;
    font-size: 50px;
    text-align: left;
    color: #ffffff;
    font-style: italic;
    font-weight: 700;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
} */

.form-SignIn {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px 20px 10px;
    border-radius: 10px;
}

.form-SignIn>h2 {
    font-family: 'Lobster', cursive;
    color: #4faf57;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.SignIn-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 8px 0px 8px 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 1);
}

.SignIn-input>svg:first-child {
    margin-left: 15px;
    font-size: 1.8rem;
}

.SignIn-input>input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    padding-left: 10px;
}

::placeholder {
    opacity: 0.5;
}

.hidden-pass {
    text-align: right;
    margin-left: 30%;
}

.forgot {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 24px;
    font-style: italic;
    text-decoration: none;
    color: #2c2d30;
    font-weight: 500;
    margin-right: 10px;
}

.forgot:hover {
    text-decoration: none;
    color: #4421de;
}

.infor-SignIn {
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.infor-SignIn>p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.social-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    margin-left: -20px;
}

.social-group>li {
    list-style: none;
    margin-right: 10px;
}

.social> svg {
    font-size: 2.5rem;
    /* padding: 12px 12px 12px 12px; */
    border-radius: 99px;
}

.fb > svg {
    color: #101aa0;
}

.gg > svg {
    color: #9e1818;
}

.tt > svg {
    color: #21d8de;
}

.social:last-of-type> svg {
    /* background-color: rgb(23, 162, 242); */
}

.social> svg:hover {
    /* color: #ffffff;
    background-color: rgb(23, 162, 242); */
    transform: scale(1.2);
    transition: all 0.5s;
}

/**---account----*/

.account-signIn {
    margin-top: 5px;
    text-align: center;
}

.q-account {
    font-size: 15px;
    font-weight: 550;
    margin-bottom: 0;
    opacity: .7;
}

.signUp-acc {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    color: rgb(248, 248, 241);
}

.signUp-acc:hover {
    text-decoration: none;
    transition: 0.3s;
    color: rgba(5, 25, 107, 0.774);
}