.SignIn {
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/4a/ba/f3/4abaf352645fd2142ed6555f789e0a2e.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.title-SignIn {
    width: 40vw;
    font-size: 50px;
    text-align: left;
    margin: 10% auto;
    color: #ffffff;
    font-style: italic;
    font-weight: 700;
}

.form-SignIn {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 10px 20px 10px;
    border-radius: 10px;
}

.SignIn-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 15px 0px 15px 10px;
    border-radius: 30px;
    box-shadow:  0px 5px 8px -9px rgba(0, 0, 0, 1);
}

.SignIn-input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    padding-left: 10px;
}

::placeholder {
    opacity: 0.5;
}

.hidden-pass {
    text-align: right;
    margin-left: 30%;
}

.forgot {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    text-decoration: none;
    color: #6e6798;
    font-weight: 450;
}

.forgot:hover {
    text-decoration: none;
    color: #4421de;
}

.infor-SignIn {
    text-align: center;
    margin-top: 20px;
}

.infor-SignIn>p {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0;
}

.social-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-group > li {
    list-style: none;
    margin-right: 10px;
}

.social {
    color: #ffffff;
    padding: 5px 8px 12px 9px;
    border-radius: 99px;
    background-color: rgba(0, 0, 255, 0.1);
}
