.SignUp {
    width: 100%;
    height: 100%;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-tech-geometric-graphic-party-sign-in-background-material-backgroundgeometryevening-sign-image_73734.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title-SignUp {
    width: 40vw;
    font-size: 50px;
    text-align: left;
    color: #ffffff;
    font-style: italic;
    font-weight: 700;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.form-SignUp {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin-top: 66px;
    margin-bottom: 66px;
    margin-left: auto;
    margin-right: auto;
    padding: 84px 10px 20px 10px;
    border-radius: 10px;
}

.form-SignUp>h2 {
    color: #818A91;
    font: normal normal bold 35px/47px Segoe UI;
    text-align: center;
}

.form-group {
    width: 400px;
    margin-top: 61px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.title-input:nth-child(1) {
    margin-top: 0 !important;
}

.title-input {
    font-size: 16px;
    font-weight: 500;
    color: #766776;
    margin-top: 35px;
    margin-bottom: 3px;
    margin-left: 25px;
}

.SignUp-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 15px 0px 15px 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 1);
}

.SignUp-input>input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    padding-left: 10px;
}

::placeholder {
    opacity: 0.5;
}

.hidden-pass {
    text-align: right;
    margin-left: 30%;
}

.acc {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 24px;
    font-style: italic;
    text-decoration: none;
    color: #6e6798;
    font-weight: 450;
}

.acc:hover {
    text-decoration: none;
    color: #4421de;
}

.done {
    height: 50px;
    border: none;
    background: transparent linear-gradient(91deg, #A2C78D 0%, #88D162 16%, #68CE32 46%, #8DDC63 100%) 0% 0% no-repeat padding-box;
    border-radius: 99px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.done:hover {
    background: #49703a;
    transition: 0.5s ease-in;
}

.infor {
    text-align: center;
    margin-top: 65px;
}

.infor>p {
    font-weight: 600;
    font: normal normal bold 14px/19px Segoe UI;
    margin-bottom: 0;
}

.infor>a {
    margin-bottom: 0;
    font-size: 15px;
}