@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.SignUp {
    width: 100%;
    height: 100%;
    background-image: url(/assets/signIn/bglogin.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* .title-SignUp {
    width: 40vw;
    font-size: 50px;
    text-align: left;
    color: #ffffff;
    font-style: italic;
    font-weight: 700;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
} */

.main-signIn {
    /* background: rgba(255, 255, 255, .8); */
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9),  rgba(255, 255, 255, 0.9),  rgba(255, 255, 255, 0.9), rgba(61, 167, 61, 0.7));
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.img-signIn {
    width: 45%;
    height: 95%;
    margin: 3% auto;
}

.form-SignUp {
    width: auto;
    height: auto;
    /* background-color: #ffffff; */
    margin-top: 10px ;
    margin-right: 10px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
}

.form-SignUp>h2 {
    font-family: 'Lobster', cursive;
    color: #4faf57;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.form-group {
    width: 400px;
    margin-top: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.title-input:nth-child(1) {
    margin-top: 0 !important;
}

.title-input {
    font-size: 16px;
    font-weight: 500;
    color: #359b50;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 25px;
}

.SignUp-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 8px 0px 8px 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 1);
}

.SignUp-input>svg:first-child {
    margin-left: 15px;
}


.SignUp-input>input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 85%;
}

::placeholder {
    opacity: 0.5;
}

.hidden-pass {
    text-align: right;
    margin-left: 22%;
}

.acc {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 24px;
    font-style: italic;
    text-decoration: none;
    color: #6e6798;
    font-weight: 450;
}

.acc:hover {
    text-decoration: none;
    color: #4421de;
}

.done {
    height: 50px;
    border: none;
    background: #359b50;
    border-radius: 99px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.done:hover {
    background: #49703a;
    transition: 0.5s ease-in;
}

.infor {
    text-align: center;
    margin-top: 30px;
}

.infor>p {
    font-weight: 600;
    font: normal normal bold 14px/19px Segoe UI;
    margin-bottom: 0;
}

.infor>a {
    margin-bottom: 0;
    font-size: 15px;
}
/* 
.bg-signIn {
    width: 80%;
    height: 50px;
    background: rgb(16, 151, 45);
    position: absolute;
    z-index: 0;
    top: 115%;
} */