.banner-user {
    width: 100%;
    height: 250px;
    background: #DBDBDB;
    display: flex;
    flex-direction: column;
}

.group-banner-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    width: 12rem;
    height: 12rem;
    color: #000000;
}

.group-banner-user > .MuiSvgIcon-root {
    width: 8.5rem;
    height: 8.5rem;
}

.userName {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
}

.group-banner-user:hover {
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.edit-presonal {
    margin-left: 80%;
    color: #000000;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.edit-presonal:hover {
    color: white;
    text-decoration: none;
    background: rgb(69, 161, 74);
    transition: 0.3s ease-in;
}

.main-user {
    margin-top: 80px;
    overflow: hidden;  
}

.my-posts {
    display: flex;
    flex-direction: column;
}

.my-post {
    color: black;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 450;
    padding-bottom: 10px;
}

.my-post:hover {
    text-decoration: none;
    color: rgb(69, 161, 74);
    border-bottom: 1px solid rgb(69, 161, 74);
    transition: all 0.3s ease-in;
}