/* * {
  margin: 0;
  padding: 0;
}
/* pages style */
@import 'modules/pages//home-page/style/index.css';
@import 'modules/pages/detail-university/style/index.css';
@import 'modules/pages/user-profile/style/index.css';
@import 'modules/pages/user-editor/style.css';
@import 'modules/pages/comment/style/index.css';
@import 'modules/pages/topic/style/index.css';
@import 'modules/pages/authentication/style/index.css';
@import 'modules/pages/not-found/style.css';
/* layout */
@import 'layout/style/index.css';
/* component common */
@import 'common/card/style/cardTopic.css';
