.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d4d4;
}
/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: rgb(0, 0, 0) !important;
  color: #ffffff;
}
